body{
    text-align: center;
    font-family: "Lexend Exa", sans-serif;
    
    background-image: url(feedback\ BG.jpg);
    font-weight: bolder;

    
    
}

h1,h3{
    text-align: center;
}

.rating-input{
   
    
}
