*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Exa", sans-serif;
}
body{
  
}

:root{
    --mainBlue:#4169E1;
    --mainFontSize: 16px;
}

.nav-bar{
    width: 100%;
    height: 80px;
    /*border: 1px solid red;*/
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.logo-area, .cart-icon{
    width: 300px;
    height: 100%;
        /*border: 1px solid red;*/

}

.main-nav{
    width: calc(100% - 600px);
    height: 100%;
    /*border: 1px solid red;*/
}

.logo-area{
    width: 300px;
    display: flex;
    margin-left: 30px;
    justify-content: end;
    align-items: center;
}



.logo-area img{
    width: auto;
    height: 70%;
    padding: 10px 0;
    background: var(--mainBlue);
}

.logo-area h3{
   text-align: end;
    font-size: 20px;
    color: var(--mainBlue);
    text-transform: uppercase;
    margin-left: 10px;
}





.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav ul{
    display: flex;
    list-style: none;
}
.main-nav ul li{
    margin-right: 20px;
    position: relative;
}

.main-nav ul li:last-child{
    margin-right: 0;
}

.main-nav ul li a{
    text-decoration: none;
    color: var(--mainBlue);
    font-weight: 600;
    text-transform: uppercase;
}

.main-nav ul li:hover{
    color: var(--mainBlue);
}

.main-nav ul li::after{
    content: '';
    height: 2px;
    width: 100%;
    background: var(--mainBlue);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
}

.main-nav ul li:hover::after{
    opacity: 1;
}

.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon a{
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    color: var(--mainBlue);
    margin-left: 10px;
}

.hamburger{
    display: none;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-right: 20px;

}

.hamburger i{
    display: flex;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    color: var(--mainBlue);

    border: 1px solid var(--mainBlue);
}

@media (max-width: 1200px) {
    .main-nav{
        width: calc(100% - 400px);
    }
    .logo-area{
        width:100px
    }
    .logo-area h3{
        display: none;
    }

    .cart-icon{
        width: 100px;
    }
}

@media (max-width: 992px) {
    .main-nav ul li{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .cart-icon{
        display: none;

    }

    .cart-icon a{
        display: none;

    }
}


.main-header{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: end;
    background: var(--mainBlue);
}

.header{
    width: 80%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header h1{
    font-size: 4rem;
    color: white;
}

.header p a{
    text-decoration: none;
    color: white;
}

.header p{
    color: white;
}

@media (max-width: 576px) {
    .header p{
        display: none;
    }
    .header{
        width: 100%;
    }
    .header h1{
        font-size: 3rem;
    }
}


.social-media-area{
    position: fixed;
    right: 20px;



}

.m1{
    width: 5rem;
    height: 5rem;
    margin: 0.2rem 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all .2s ;


}

.m1:hover{
   transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.m1 i{
    font-size: 3rem;
}

.fb{
    margin-top: 2rem;
    color: #1877F2;
}

.msger{
    color: #00B2FF;
}

.insta{
    color: #E1306C;
}

@media (max-width: 992px) {
    .m1{
        display: none;
    }
}

.display{
    width: 90%;
    margin: 20px auto;
    height: 100vh;
    background: #dfe6e9 ;
}

@media (max-width: 992px) {
    .display{
        width: 100%;
    }
}



.hero2{
    font-family: inherit;
    background-image: url("../images/logo background.jpg");
    height: 100vh;
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 20px;
}

.hero2-logo{
   display: flex;
   margin-right: 550px;
  
}

.hero2-logo-p{
    font-size: 100px;
    padding-left: 50px;
}

.collections{
    padding: 128px;
    font-family: inherit;
    border-color: #e95950;
   
    

}

.collections-title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #1877F2;
    
   

}

.collections-header p{
    margin-top: 16px;

}

.collection-cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 24px;
   grid-row-gap: 24px;
   margin-top: 32px;
}
   

.collection-card{

}

.collection-card img{
    border-radius: 16px;
    width: 100%;
    height: 384px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9); 
    transition: all .2s ;
    
}

.collection-card.collection_-card-details{
    margin-top: 16px;
}

.collection-card.collection-card-details p{
    margin: 4px;
    font-size: 14px;
    opacity: 0.7;
}


.hero{
    font-family: inherit;
    background-image: url(../images/hero1.png.jpg);
    height: 100vh;
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    
}

.hero-h1{
    fonr-size: 36px;
    font-weight: 400;
    margin: 20px 0;
    
}

.hero-p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    }

.hero-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size:16px ;
    border:none;
    border-radius: 6px;
    font-weight: 600;

    margin-top: 16px;
    display: block;
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #00B2FF;
    
}

.footerlist{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    padding: 25px 3%;
    background: transparent;
    color: #1877F2;
    list-style-type: none;
    
}

.footerlist a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;

}

.footerlist a:hover{
    color: #1877F2;
}
